@import "tailwindcss";


body, html {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}


body {
  @apply w-full h-full m-0 p-0 overflow-x-hidden;
}


.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

.no-scrollbar::-webkit-scrollbar {
  display: none;            
}